# 自建重写合集 (QuantumultX 重写规则合并)
# 自动生成：仅保留规则（去掉注释 & 去掉源码）
# 更新时间: 2025-11-05 02:29:04
hostname = videos.openai.com,www.g.cn,www.google.cn
^https?://(www\.)?g\.cn url 302 https://www.google.com
^https?://(www\.)?google\.cn url 302 https://www.google.com
^https?://(www\.)?google\.cn/search url 302 https://www.google.com/search
^https?:\/\/videos\.openai\.com\/.*vg-assets\/assets.*mp4 url script-request-header https://gist.githubusercontent.com/ddgksf2013/71fca841d34a7b440408276d03da3261/raw/SoraRemoveWatermark.js
