#!name = 自建重写解锁合集
#!desc = 自建重写解锁合集
# 更新时间：2025-03-11 15:32:43 (北京时间)
# 合并自以下源：
# 京东比价: https://raw.githubusercontent.com/mw418/Loon/main/script/jd_price.js
# 1998解锁: https://raw.githubusercontent.com/Yu9191/Rewrite/main/1998.js
# siri接入4o: https://raw.githubusercontent.com/SheepFJ/QuantumultX/refs/heads/main/QuantumultX/Siri/aireply/aireply.js
# 叮当猫合集: https://raw.githubusercontent.com/chxm1023/Rewrite/main/Reheji.js

[REWRITE_LOCAL]
# 京东比价
http-request ^https:\/\/in\.m\.jd\.com\/product\/graphext\/\d+\.html script-path=https://raw.githubusercontent.com/mw418/Loon/main/script/jd_price.js, timeout=60, tag=京东比价
# 1998解锁
^https:\/\/.*\.1998xuexi\.com\/source-gateway\/store-web-new\/app\/(course\/getCurrCatalogue\.action|material\/getMaterialCateLog\.action|vip\/getMemberVipInfo\.action|vip\/getVipInfomationAll\.action) url script-response-body https://raw.githubusercontent.com/Yu9191/Rewrite/main/1998.js
# siri接入4o
^https:\/\/movies\.disney\.com\/sheep\/siri\/aireply\/? url script-response-body https://raw.githubusercontent.com/SheepFJ/QuantumultX/refs/heads/main/QuantumultX/Siri/aireply/aireply.js
^https:\/\/m\.speedtest\.cn\/sheep\/siri\/aireply\/? url script-response-body https://raw.githubusercontent.com/SheepFJ/QuantumultX/refs/heads/main/QuantumultX/Siri/aireply/aireply.js
^https:\/\/chatme-backend-d5f358e587a4\.herokuapp\.com\/chatme\/api\/v1\/ask\/text url script-response-body https://raw.githubusercontent.com/SheepFJ/QuantumultX/refs/heads/main/QuantumultX/Siri/aireply/huoqu.js
# 叮当猫合集
^https:\/\/api\.(revenuecat|rc-backup)\.com\/.+\/(receipts$|subscribers\/?(.*?)*$) url script-response-body https://raw.githubusercontent.com/chxm1023/Rewrite/main/Reheji.js
^https:\/\/api\.(revenuecat|rc-backup)\.com\/.+\/(receipts$|subscribers\/?(.*?)*$) url script-request-header https://raw.githubusercontent.com/chxm1023/Rewrite/main/Reheji.js

[SCRIPT]
# siri接入4o
http-response ^https:\/\/movies\.disney\.com\/sheep\/siri\/aireply\/? script-path=https://raw.githubusercontent.com/SheepFJ/QuantumultX/refs/heads/main/QuantumultX/Siri/aireply/aireply.js,requires-body=false,tag=Siri打印消息0
http-response ^https:\/\/m\.speedtest\.cn\/sheep\/siri\/aireply\/? script-path=https://raw.githubusercontent.com/SheepFJ/QuantumultX/refs/heads/main/QuantumultX/Siri/aireply/aireply.js,requires-body=false,tag=Siri打印消息1
http-response ^https:\/\/chatme-backend-d5f358e587a4\.herokuapp\.com\/chatme\/api\/v1\/ask\/text script-path=https://raw.githubusercontent.com/SheepFJ/QuantumultX/refs/heads/main/QuantumultX/Siri/aireply/huoqu.js,requires-body=true,tag=获取AI消息
*************************************/
const isLoon = typeof $persistentStore !== "undefined";
const isQuanX = typeof $prefs !== "undefined";
if (isLoon) {
let saveResult = $persistentStore.read("sheep_wechat_content") || "";
saveResult = "€€€" + saveResult + "€€€";
$done({
status: "HTTP/1.1 200 OK",
headers: { "Content-Type": "text/plain; charset=utf-8" },
body: saveResult
});
} else if (isQuanX) {
let saveResult = $prefs.valueForKey("sheep_siri_aireply") || "";
saveResult = "€€€" + saveResult + "€€€";
$done({
status: "HTTP/1.1 200 OK",
headers: { "Content-Type": "text/plain; charset=utf-8" },
body: saveResult
});
} else {
console.log("当前环境未知");
}
$done();

[MITM]
hostname =  api.rc-backup.com,*.1998xuexi.com,api.revenuecat.com,chatme-backend-d5f358e587a4.herokuapp.com,in.m.jd.com,m.speedtest.cn,movies.disney.com
