#!name = 自建重写解锁合集
#!desc = 自建重写解锁合集
# 更新时间：2025-08-25 18:32:24 (北京时间)
# 合并自以下源：
# 谷歌重定向: https://raw.githubusercontent.com/6666-H/Qx-Resource/refs/heads/main/Manual/Rewrite/GoogleToSearch.config
# ReLens: https://raw.githubusercontent.com/6666-H/Qx-Resource/refs/heads/main/Manual/Rewrite/ReLens.config
# 京东比价: https://raw.githubusercontent.com/githubdulong/Script/master/Surge/jd_price.sgmodule

[REWRITE_LOCAL]
# 谷歌重定向
^https?://(www\.)?g\.cn url 302 https://www.google.com
^https?://(www\.)?google\.cn url 302 https://www.google.com
^https?://(www\.)?google\.cn/search url 302 https://www.google.com/search
# ReLens
^https?:\/\/buy\.itunes\.apple\.com\/verifyReceipt$ url script-response-body https://raw.githubusercontent.com/chxm1023/Rewrite/main/ReLens.js

[SCRIPT]
# 京东比价
{{{MMMCK_SCRIPT}}} = type=http-request,pattern=^https?:\/\/apapia-sqk-weblogic\.manmanbuy\.com/baoliao\/center\/menu,requires-body=1,max-size=0,binary-body-mode=0,script-path=https://raw.githubusercontent.com/githubdulong/Script/master/MmmCK.js
京东比价 = type=http-response,pattern=^https:\/\/in\.m\.jd\.com\/product\/graphext\/\d+\.html,requires-body=1,max-size=0,binary-body-mode=0,script-path=https://raw.githubusercontent.com/githubdulong/Script/master/jd_price.js,timeout=30

[MITM]
hostname = apapia-sqk-weblogic.manmanbuy.com, buy.itunes.apple.com, in.m.jd.com, www.g.cn, www.google.cn
