#!name = 自建重写解锁合集
#!desc = 自建重写解锁合集
# 更新时间：2025-06-09 13:09:57 (北京时间)
# 合并自以下源：
# 京东比价: https://raw.githubusercontent.com/githubdulong/Script/master/Surge/jd_price.sgmodule
# 1998解锁: https://raw.githubusercontent.com/Yu9191/Rewrite/main/1998.js
# 谷歌重定向: https://raw.githubusercontent.com/QingRex/LoonKissSurge/refs/heads/main/Surge/Google%E9%87%8D%E5%AE%9A%E5%90%91.sgmodule

[SCRIPT]
# 京东比价
{{{MMMCK_SCRIPT}}} = type=http-request,pattern=^https?:\/\/apapia-sqk-weblogic\.manmanbuy\.com/baoliao\/center\/menu,requires-body=1,max-size=0,binary-body-mode=0,script-path=https://raw.githubusercontent.com/githubdulong/Script/master/MmmCK.js
京东比价 = type=http-response,pattern=^https:\/\/in\.m\.jd\.com\/product\/graphext\/\d+\.html,requires-body=1,max-size=0,binary-body-mode=0,script-path=https://raw.githubusercontent.com/githubdulong/Script/master/jd_price.js,timeout=30

[REWRITE_LOCAL]
# 1998解锁
^https:\/\/.*\.1998xuexi\.com\/source-gateway\/store-web-new\/app\/(course\/getCurrCatalogue\.action|material\/getMaterialCateLog\.action|vip\/getMemberVipInfo\.action|vip\/getVipInfomationAll\.action) url script-response-body https://raw.githubusercontent.com/Yu9191/Rewrite/main/1998.js

[URL REWRITE]
# 谷歌重定向
[rewrite_local]
^https:\/\/www.google.cn\/* url 302 https://www.google.com/search
^https:\/\/www.google.co.jp\/* url 302 https://www.google.com/search
^https:\/\/www.google.com.hk\/* url 302 https://www.google.com/search

[MITM]
hostname =  *.1998xuexi.com, apapia-sqk-weblogic.manmanbuy.com,%APPEND% in.m.jd.com,%APPEND% www.google.cn,*.1998xuexi.com
